snippet ptag "pタグの補完"
<p>${1:content}</p>
endsnippet

snippet button "ボタンの補完"
<button onClick={() => {
	${1: function}}}></button>
endsnippet

snippet div "divの補完"
<div>
${1: content}
</div>
endsnippet

